.header{
    border-bottom: 2px solid white;
}

.header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px ;
    font-size: larger;
}

.header-icon{
    width: 64px;
    height: 64px;
}