.posterImg > img {
  margin: auto;
  display: block;
  width: 100%;
}

.posterImg_overlay {
  opacity: 1;
  transition: opacity 0.3s;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(1, 1, 1, 0.7344187675070029) 30%,
    rgba(1, 1, 1, 0.7792366946778712) 75%,
    rgba(1, 1, 1, 0) 100%
  );
}

.posterImage__overlay:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .posterImg_Descripton {
    max-height: 3.6rem;
    line-height: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
